.FormError {
    padding:5px !important;
    margin-bottom: 5px;
    border: 1px solid #ebccd1;
    color: #a94442;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.ui-dialog, .ui-jqdialog {
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 0;
    z-index: 1040 !important;
}

.ui-widget-overlay {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.ui-jqgrid-titlebar {
    background: #307ecc none repeat scroll 0 0;
    color: #fff;
    font-size: 15px;
    height: 40px;
    border-left: 0 none;
    border-right: 0 none;
    border-top: 0 none;
    border-bottom: 0 none !important;
    margin-right:0px !important;
}

.ui-jqgrid .ui-icon {
    color: #307ecc;
    float: none;
    right: 2px;
    text-indent: 0;
}

.ui-th-column {
    background:#f1f1f1;
}

.ui-jqgrid-pager {
    background:#eff3f8;
}

.ui-jqdialog-titlebar {
    background:#f0f0f0;
}

.ui-jqdialog-title {
    color:#36c6d3;
}

.jqResize {
    display:none;
}

.ui-jqgrid .ui-jqgrid-titlebar-close {
    border-radius: 4px;
    height: auto;
    margin: 2px 8px 0 0;
    padding: 0;
    text-align: center;
    top: 10%;
    text-decoration: none;
}

.ui-jqdialog-content input.FormElement {
    width: auto !important;
}

.ui-state-success {
    padding:5px !important;
    margin-bottom: 5px;
    background-color: #ddf2de;
    border: 1px solid #ccecce;
    color: #40ac43;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}


th, td, .table-bordered {
    border-radius: 0 !important;
}

.ui-jqgrid-btable .jqgrow {
    background-color: #ffffff !important;
}

.ui-jqgrid-btable .ui-priority-secondary {
    background-color: #f9f9f9 !important;
    background-image: none;
    opacity: 1;
}

.ui-jqgrid .ui-icon.ui-state-disabled {
    color: #bbb;
}

.ui-jqgrid .ui-icon {
    color: #307ecc;
    float: none !important;
    right: 2px !important;
    text-indent: 0 !important;
}

.ui-jqgrid .ui-jqgrid-hdiv {
    color: #777;
    font-weight: bold;
    line-height: 15px;
    text-shadow: none;
}

th[aria-selected="true"] {
    background-image: linear-gradient(to bottom, #eff3f8 0%, #e3e7ed 100%);
    background-repeat: repeat-x;
}

th[aria-selected="true"] .ui-jqgrid-sortable {
    color: #307ecc;
}

.ui-jqgrid .ui-jqgrid-labels th {
    border-right: 1px solid #e1e1e1;
    text-align: left !important;
}


.ui-jqgrid tr.ui-row-ltr td, .ui-jqgrid tr.ui-row-rtl td {
    border-bottom: 1px solid #e1e1e1;
    border-color: #e1e1e1;
    padding: 6px 4px;
}

.ui-jqgrid .ui-jqgrid-view, .ui-jqgrid .ui-paging-info, .ui-jqgrid .ui-pg-table, .ui-jqgrid .ui-pg-selbox {
    font-size: 13px;
}

.ui-jqgrid tr.ui-state-highlight.ui-row-ltr td {
    border-right-color: #c7d3a9;
}

.ui-jqgrid tr.ui-row-ltr td, .ui-jqgrid tr.ui-row-rtl td {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #e1e1e1;
    padding: 6px 4px;
}

.ui-jqgrid .ui-jqgrid-pager {
    background-color: #eff3f8 !important;
    border-bottom: none !important;
    border-top: none !important;
    padding-bottom: 5px !important;
    padding-top: 3px !important;
}

#nData, #pData {
    padding: 4px 14px !important;
}


.ui-jqdialog.modal-content {
    border-radius:0px !important;
}

.ui-jqdialog-content.modal-body {
    padding-top:5px !important;
    padding-right:0px !important;
    padding-bottom:0px !important;
    padding-left:0px !important;
}

.FormGrid .EditTable{
    background:#ffffff !important;
    padding:5px;
    border-top:none !important;
    margin-top:5px !important;
}

.EditTable {
    background-color: #eff3f8;
    border-top: 1px solid #d6e1ea !important;
    padding: 8px;
}

.fa.purple {
    color: #a069c3 !important;
}

.fa.blue {
    color: #478fca !important;
}

.fa.red {
    color: #dd5a43 !important;
}

.fa.orange {
    color: #ff892a !important;
}

.fa.green {
    color: #69aa46 !important;
}

.orange {
    color: #ff892a !important;
}